*{
    margin: 0;
    padding: 0;
    
}
body{ 
    margin: 0;
    padding: 0;
    background-color: rgba(250, 235, 215, 0.39);
     
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    color:  black;
    position: fixed;
    width: 100vw;
    background-color:antiquewhite;
    
    

}
.nav-menu{
    display: flex;
    gap: 40px;
    margin-right: 50px;
   
   align-items: center; 
   font-size: 20px;
   font-weight: bold;
   color: black;

}
a{
    text-decoration: none;
    color: black;
}
.name{
    margin-left: 40px;
    font-family: "Mozilla Headline", sans-serif;
}
.hire-btn{
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    color:  black;
    background-color: #7dace4;
    transition: 0.3s;
}
.hire-btn:hover{
    background-color: #7dabe4bd;
    scale: 1.3;
    
}
/* main */

main{
    height: 100vh;
    display: flex;
    
}
.left{
   
    width: 50vw;
    align-items: center;
    display: flex;
    border-radius: 50px;
    justify-content: center;
   

    


    
}
.left img{
  width: 250px;
  border-radius: 50%;
  
  
  
  
    

    
}
.right{
    
    
    width: 50vw;
     font-family: "Mozilla Headline", sans-serif;
    
     
     
     justify-content: center;
     display: flex;
     flex-direction: column;

     align-items: start;
     
     



}
.btn{
    padding: 15px 30px;
    color: black;
    background-color: #7dace4;
    border: none;
    border-radius: 15px;
     transition: 0.3s;
}
.btn:hover{
    background-color: #7dabe4bd;
    scale: 1.3;

}
/* about page */

.about{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.heading{
    font-family: "Mozilla Headline", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}
#about{
    font-family: "Mozilla Headline", sans-serif;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 20vh;

}

.about-contant{
    height: 70vh;
    width: 70vw;
    background-color: #7dace4;
    border-radius: 25px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.about-contant:hover{
   
    box-shadow:0px 0px 10px  black;
}
.content2{
    justify-content: center;
    margin: 60px;
    text-align: justify;
    color: black;
    font-family: "Arimo", sans-serif;



}


.services{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-top: 50px;

}
#servies{
    
    font-family: "Mozilla Headline", sans-serif;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 20vh;


}

.services-grid{
    display: grid;
    grid-template-columns: 400px 400px 400px ;
    grid-template-rows: 250px 250px  ;
    gap: 20px;
    height: 90vh;
   
    
    
    
}
.card{
    
    background-color: #7dace4;
    font-family: "Arimo", sans-serif;
    
    margin: 20px;
    display: flex;
    align-items: center;
    font-size: 25px;
    border-radius: 20px;
    padding: 20px;
    transition:0.3s 

}
.card:hover{
    box-shadow:15px 15px 10px  black;
    transform: rotate(5deg);
}
.card h1:hover{
    transform: translatex(20px);
    transition: 0.2s;
}
.contact{
    height: 80vh;
    display: flex;
    margin-bottom: 40px;
    
}
#contant{
    font-family: "Mozilla Headline", sans-serif;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 20vh;
    

}
.contact-left{
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-right{
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
      font-family: "Arimo", sans-serif;
}
.left-center h1{
    font-size: 90px;
}
.left-center{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    gap: 20px;
    
}
.left-center p{
    font-family: "Arimo", sans-serif;
   
}
.social-logo img{
    margin: 20px;
}

.content-form{
    padding: 30px;
    height: 300px;
    width: 300px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-form input{
    height: 40px;
    width: 300px;
    border: 2px solid ;
    background: none;
    border-radius: 10px;
}
.content-form textarea{
    height: 100px;
    width: 300px;
    background: none;
     border: 2px solid ;
     border-radius: 10px;
}
.content-form label{
    color: black;

}
.content-form input:hover{
    border: 2px solid #7dace4;
}
.content-form textarea:hover{
    border: 2px solid #7dace4;
}
#contact-btn{
    padding: 10px 30px;
    width: 300px;
    border-radius: 10px; color: black;
    font-size: 20px;
    background-color: #7dace4;
    transition: 0.3s;

}
#contact-btn:hover{
   background-color: #7dabe4bd; 
}
footer{
    height: 10vh;
    background-color: black;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
footer span{
    color: white;
    margin: 20px;

}
html{
    scroll-behavior: smooth;
}